html,
body {
  height: 100%;
}

/** STICKY FOOTER: Wrapper **/
#wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/** STICKY FOOTER: Main **/
#main {
  flex: 1 0 auto;
}

/** STICKY FOOTER: Footer **/
#footer {
  flex-shrink: 0;
}
